/* fonts here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppin", sans-serif;
}
/* Header and Nav Style Here  */
header {
  background-color: #562eff;
}
nav {
  width: 880px;
}
